

/* width */
.w1per {
	width: 1% !important;
}

.w2per {
	width: 2% !important;
}

.w3per {
	width: 3% !important;
}

.w4per {
	width: 4% !important;
}

.w5per {
	width: 5% !important;
}

.w6per {
	width: 6% !important;
}

.w7per {
	width: 7% !important;
}

.w8per {
	width: 8% !important;
}

.w9per {
	width: 9% !important;
}

.w10per {
	width: 10% !important;
}

.w11per {
	width: 11% !important;
}

.w12per {
	width: 12% !important;
}

.w13per {
	width: 13% !important;
}

.w14per {
	width: 14% !important;
}

.w15per {
	width: 15% !important;
}

.w16per {
	width: 16% !important;
}

.w17per {
	width: 17% !important;
}

.w18per {
	width: 18% !important;
}

.w19per {
	width: 19% !important;
}

.w20per {
	width: 20% !important;
}

.w21per {
	width: 21% !important;
}

.w22per {
	width: 22% !important;
}

.w23per {
	width: 23% !important;
}

.w24per {
	width: 24% !important;
}

.w25per {
	width: 25% !important;
}

.w26per {
	width: 26% !important;
}

.w27per {
	width: 27% !important;
}

.w28per {
	width: 28% !important;
}

.w29per {
	width: 29% !important;
}

.w30per {
	width: 30% !important;
}

.w31per {
	width: 31% !important;
}

.w32per {
	width: 32% !important;
}

.w33per {
	width: 33% !important;
}

.w34per {
	width: 34% !important;
}

.w35per {
	width: 35% !important;
}

.w36per {
	width: 36% !important;
}

.w37per {
	width: 37% !important;
}

.w38per {
	width: 38% !important;
}

.w39per {
	width: 39% !important;
}

.w40per {
	width: 40% !important;
}

.w41per {
	width: 41% !important;
}

.w42per {
	width: 42% !important;
}

.w43per {
	width: 43% !important;
}

.w44per {
	width: 44% !important;
}

.w45per {
	width: 45% !important;
}

.w46per {
	width: 46% !important;
}

.w47per {
	width: 47% !important;
}

.w48per {
	width: 48% !important;
}

.w49per {
	width: 49% !important;
}

.w50per {
	width: 50% !important;
}

.w51per {
	width: 51% !important;
}

.w52per {
	width: 52% !important;
}

.w53per {
	width: 53% !important;
}

.w54per {
	width: 54% !important;
}

.w55per {
	width: 55% !important;
}

.w56per {
	width: 56% !important;
}

.w57per {
	width: 57% !important;
}

.w58per {
	width: 58% !important;
}

.w59per {
	width: 59% !important;
}

.w60per {
	width: 60% !important;
}

.w61per {
	width: 61% !important;
}

.w62per {
	width: 62% !important;
}

.w63per {
	width: 63% !important;
}

.w64per {
	width: 64% !important;
}

.w65per {
	width: 65% !important;
}

.w66per {
	width: 66% !important;
}

.w67per {
	width: 67% !important;
}

.w68per {
	width: 68% !important;
}

.w69per {
	width: 69% !important;
}

.w70per {
	width: 70% !important;
}

.w71per {
	width: 71% !important;
}

.w72per {
	width: 72% !important;
}

.w73per {
	width: 73% !important;
}

.w74per {
	width: 74% !important;
}

.w75per {
	width: 75% !important;
}

.w76per {
	width: 76% !important;
}

.w77per {
	width: 77% !important;
}

.w78per {
	width: 78% !important;
}

.w79per {
	width: 79% !important;
}

.w80per {
	width: 80% !important;
}

.w81per {
	width: 81% !important;
}

.w82per {
	width: 82% !important;
}

.w83per {
	width: 83% !important;
}

.w84per {
	width: 84% !important;
}

.w85per {
	width: 85% !important;
}

.w86per {
	width: 86% !important;
}

.w87per {
	width: 87% !important;
}

.w88per {
	width: 88% !important;
}

.w89per {
	width: 89% !important;
}

.w90per {
	width: 90% !important;
}

.w91per {
	width: 91% !important;
}

.w92per {
	width: 92% !important;
}

.w93per {
	width: 93% !important;
}

.w94per {
	width: 94% !important;
}

.w95per {
	width: 95% !important;
}

.w96per {
	width: 96% !important;
}

.w97per {
	width: 97% !important;
}

.w98per {
	width: 98% !important;
}

.w99per {
	width: 99% !important;
}

.w100per {
	width: 100% !important;
	min-width: 100% !important;
}

.wauto {
	width: auto !important;
}

.w100px {
	width: 100px !important;
}

.w200px {
	width: 200px !important;
}

.w300px {
	width: 300px !important;
}

.w400px {
	width: 400px !important;
}

.w500px {
	width: 500px !important;
}

.w600px {
	width: 600px !important;
}

.w700px {
	width: 700px !important;
}

.w800px {
	width: 800px !important;
}

.w900px {
	width: 900px !important;
}

.w1000px {
	width: 1000px !important;
}

.w1100px {
	width: 1100px !important;
}

@media screen and (max-width: 768px) {

	/* SP */
	.w1per--sp {
		width: 1% !important;
	}

	.w2per--sp {
		width: 2% !important;
	}

	.w3per--sp {
		width: 3% !important;
	}

	.w4per--sp {
		width: 4% !important;
	}

	.w5per--sp {
		width: 5% !important;
	}

	.w6per--sp {
		width: 6% !important;
	}

	.w7per--sp {
		width: 7% !important;
	}

	.w8per--sp {
		width: 8% !important;
	}

	.w9per--sp {
		width: 9% !important;
	}

	.w10per--sp {
		width: 10% !important;
	}

	.w11per--sp {
		width: 11% !important;
	}

	.w12per--sp {
		width: 12% !important;
	}

	.w13per--sp {
		width: 13% !important;
	}

	.w14per--sp {
		width: 14% !important;
	}

	.w15per--sp {
		width: 15% !important;
	}

	.w16per--sp {
		width: 16% !important;
	}

	.w17per--sp {
		width: 17% !important;
	}

	.w18per--sp {
		width: 18% !important;
	}

	.w19per--sp {
		width: 19% !important;
	}

	.w20per--sp {
		width: 20% !important;
	}

	.w21per--sp {
		width: 21% !important;
	}

	.w22per--sp {
		width: 22% !important;
	}

	.w23per--sp {
		width: 23% !important;
	}

	.w24per--sp {
		width: 24% !important;
	}

	.w25per--sp {
		width: 25% !important;
	}

	.w26per--sp {
		width: 26% !important;
	}

	.w27per--sp {
		width: 27% !important;
	}

	.w28per--sp {
		width: 28% !important;
	}

	.w29per--sp {
		width: 29% !important;
	}

	.w30per--sp {
		width: 30% !important;
	}

	.w31per--sp {
		width: 31% !important;
	}

	.w32per--sp {
		width: 32% !important;
	}

	.w33per--sp {
		width: 33% !important;
	}

	.w34per--sp {
		width: 34% !important;
	}

	.w35per--sp {
		width: 35% !important;
	}

	.w36per--sp {
		width: 36% !important;
	}

	.w37per--sp {
		width: 37% !important;
	}

	.w38per--sp {
		width: 38% !important;
	}

	.w39per--sp {
		width: 39% !important;
	}

	.w40per--sp {
		width: 40% !important;
	}

	.w41per--sp {
		width: 41% !important;
	}

	.w42per--sp {
		width: 42% !important;
	}

	.w43per--sp {
		width: 43% !important;
	}

	.w44per--sp {
		width: 44% !important;
	}

	.w45per--sp {
		width: 45% !important;
	}

	.w46per--sp {
		width: 46% !important;
	}

	.w47per--sp {
		width: 47% !important;
	}

	.w48per--sp {
		width: 48% !important;
	}

	.w49per--sp {
		width: 49% !important;
	}

	.w50per--sp {
		width: 50% !important;
	}

	.w51per--sp {
		width: 51% !important;
	}

	.w52per--sp {
		width: 52% !important;
	}

	.w53per--sp {
		width: 53% !important;
	}

	.w54per--sp {
		width: 54% !important;
	}

	.w55per--sp {
		width: 55% !important;
	}

	.w56per--sp {
		width: 56% !important;
	}

	.w57per--sp {
		width: 57% !important;
	}

	.w58per--sp {
		width: 58% !important;
	}

	.w59per--sp {
		width: 59% !important;
	}

	.w60per--sp {
		width: 60% !important;
	}

	.w61per--sp {
		width: 61% !important;
	}

	.w62per--sp {
		width: 62% !important;
	}

	.w63per--sp {
		width: 63% !important;
	}

	.w64per--sp {
		width: 64% !important;
	}

	.w65per--sp {
		width: 65% !important;
	}

	.w66per--sp {
		width: 66% !important;
	}

	.w67per--sp {
		width: 67% !important;
	}

	.w68per--sp {
		width: 68% !important;
	}

	.w69per--sp {
		width: 69% !important;
	}

	.w70per--sp {
		width: 70% !important;
	}

	.w71per--sp {
		width: 71% !important;
	}

	.w72per--sp {
		width: 72% !important;
	}

	.w73per--sp {
		width: 73% !important;
	}

	.w74per--sp {
		width: 74% !important;
	}

	.w75per--sp {
		width: 75% !important;
	}

	.w76per--sp {
		width: 76% !important;
	}

	.w77per--sp {
		width: 77% !important;
	}

	.w78per--sp {
		width: 78% !important;
	}

	.w79per--sp {
		width: 79% !important;
	}

	.w80per--sp {
		width: 80% !important;
	}

	.w81per--sp {
		width: 81% !important;
	}

	.w82per--sp {
		width: 82% !important;
	}

	.w83per--sp {
		width: 83% !important;
	}

	.w84per--sp {
		width: 84% !important;
	}

	.w85per--sp {
		width: 85% !important;
	}

	.w86per--sp {
		width: 86% !important;
	}

	.w87per--sp {
		width: 87% !important;
	}

	.w88per--sp {
		width: 88% !important;
	}

	.w89per--sp {
		width: 89% !important;
	}

	.w90per--sp {
		width: 90% !important;
	}

	.w91per--sp {
		width: 91% !important;
	}

	.w92per--sp {
		width: 92% !important;
	}

	.w93per--sp {
		width: 93% !important;
	}

	.w94per--sp {
		width: 94% !important;
	}

	.w95per--sp {
		width: 95% !important;
	}

	.w96per--sp {
		width: 96% !important;
	}

	.w97per--sp {
		width: 97% !important;
	}

	.w98per--sp {
		width: 98% !important;
	}

	.w99per--sp {
		width: 99% !important;
	}

	.w100per--sp {
		width: 100% !important;
	}

	.wauto--sp {
		width: auto !important;
	}

	.w100px--sp {
		width: 100px !important;
	}

	.w200px--sp {
		width: 200px !important;
	}

	.w300px--sp {
		width: 300px !important;
	}

	.w400px--sp {
		width: 400px !important;
	}

	.w500px--sp {
		width: 500px !important;
	}

	.w600px--sp {
		width: 600px !important;
	}

	.w700px--sp {
		width: 700px !important;
	}

	.w800px--sp {
		width: 800px !important;
	}

	.w900px--sp {
		width: 900px !important;
	}

	.w1000px--sp {
		width: 1000px !important;
	}

	.w1100px--sp {
		width: 1100px !important;
	}
}

.d-none{
	display: none;
}
// ---------end not edit ------------------
.wrp-container {
	margin: 0 auto;
	padding: 0 2rem;
	max-width: 134rem;
	box-sizing: border-box;
}

.wrp-container:after {
	content: "";
	display: block;
	clear: both;
}

.table{
	&_user{
		width: 100%;
		border-collapse: collapse;
			position: relative;
		& thead{
			& tr{
				position: -webkit-sticky;
				position: sticky;
				top: 0;
				background: aquamarine;
				opacity: 0.9;
				text-align: center;
			}
		}
	}	

	&--hdg-lv2{
		@media screen and (max-width:769px) {
			font-size: 1rem;
		}
		text-align: center;
		color: red;
	}
	&--p{
		@media screen and (max-width:769px) {
				font-size: 0.8rem;
			}
		text-align: right;
		font-weight: bold;
	}
	th,td{
		border: 1px solid #dddddd;
		font-size: 0.8rem;
		text-align: left;
		padding: 10px;
	}
}

@media screen and (max-width: 769px) {
	.wrp-container {
			margin: 0 auto;
			padding: 0 1rem;
		}
	.tbl-base--scrollable{
		overflow-x: auto;
		
	}
	.w600px--sp{
		width: 1200px !important;
	}
}